body {
    background-color: rgb(88, 88, 88);
    color: white;
    text-align: center;
}

.button {
    width: 60%;
    font-size: 200%;
    color: white;
    border: 0px solid red;
    background-color: black;
    padding: 7px;
    border-radius: 10px;
}

.button:hover {
    background-color: yellow;
    color: black;
}

.button {
    margin-top: 10px;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex img {
    width: 50%;
    height: 50%;
    border-radius: 10px;
}