body {
    background-color: black;
}

table {
    width: 100%;
    border-spacing: 7px;
}

.first_table {
    height: 12vh;
}

.second_table {
    height: 40vh;
}

.third_table {
    height: 25vh;
}

.forth_table {
    height: 20vh;
}